html {
  font-size: 16px;
  font-family: helvetica, san-sans-serif;
}

.container {
  display: flex;
  align-items: center;
}

/*HEADER*/

header {
  align-items: center;
}

.heading {
  height: 4rem;
  width: 100%;
}

.colmar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 1.5rem;
  height: 1.2rem;
  width: 100%;
}

.items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.5rem;
}

ul li {
  display: inline;
  margin: 0rem 1rem;
}

.col {
  font-weight: bold;
}

.acad {
  opacity: 0.5;
}

/*BANNER*/
.banner {
  display: flex;
  align-items: center;
  background-color: grey;
}

.banner img {
  width: 45.5%;
  margin: 2rem 1.5rem;
}

.bannercontainer {
  width: 30%;
}

.bannertext h2 {
  font-size: 3.5rem;
  margin: 1.5rem 0rem;
}

.bannertext h4 {
  font-size: 2rem;
  margin: 1.5rem 0rem;
}

.button {
  text-align: center;
  color: white;
  width: 100%;
  margin: 3rem 0rem;
  padding: 0.5rem 0rem;
  border: 0px solid red;
  background-color: lightgrey;
}

/*MID PAGE*/

.midpage {
  width: 100%;
  display: flex;
}

.midcontent {
  width: 60%;
}

.midpage img {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  margin: 2rem 1.5rem;
}

.midcontent h1 {
  margin-left: 22%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.midcontent h5 {
  margin-top: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
}

.side1 {
  display: flex;
  border: 1px solid grey;
}

.side2 {
  display: flex;
  border: 1px solid grey;
}

.side3 {
  display: flex;
  border: 1px solid grey;
}

.side1 p {
  position: relative;
}

.sidebar img {
  width: 35%;
  height: auto;
}

.sidetext {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*SECOND LAST*/

.lead {
  background-color: gray;
}

.heading1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.thirdsec {
  display: flex;
  margin-top: 2rem;
  }

  .box1 {
    width: 33%;
  }

.boxsec {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  }

.thirdsec img {
  height: auto;
  width: 50%;
}

/*LAST*/

.last {
  width: 100%;
  display: flex;
}

.lastcontent {
    width: 60%;
  }

.lasthead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

video {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin: 0rem 1.5rem;
}

.vidhead {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  margin-left: 1.5rem;
}

.lastcontent span {
  width: 60%;
  margin-left: 1.5rem;
}

.sidebottom img {
  width: 35%;
  height: auto;
}

.sidebottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
}

.sidebottom1 {
  display: flex;
  border: 1px solid grey;
}

.sidebottom2 {
  display: flex;
  border: 1px solid grey;
}

.footer {
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  height: 6rem;
  width: 100%;
}

.footleft {
  margin-left: 2rem;
  justify-content: flex-start;
}

.footright {
  margin-right: 2rem;
  justify-content: flex-end;
}

@media only screen and (min-width: 1024px) {
  .imgquery {
    display: none;
  }
}

@media only screen and (max-width: 400px) {

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .col {
    display: none;
  }

  .acad {
    display: none;
  }

  nav {
    height: 64px;
  }

  .items {
    display: none;
  }

  .bannercontainer {
    width: 100%;
}

  .banner img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .banner {
    background-color: white;
    flex-direction: column;
  }

  .bannertext h2 {
    font-size: 2rem;
  }

  .bannertext h4 {
    font-size: 1rem;
  }

 }
