html {
  font-size: 16px;
  font-family: helvetica, san-sans-serif;
}

.container {
  display: flex;
  align-items: center;
}

/*HEADER*/
.heading {
  height: 4rem;
  width: 100%;
}

.colmar {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  height: 1.2rem;
}

.items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.5rem;
}

ul li {
  display: inline;
  margin: 0rem 1rem;
}

.col {
  font-weight: bold;
}

.acad {
  opacity: 0.5;
}

/*BANNER*/
.banner {
  display: flex;
  background-color: grey;
}

.banner img {
  width: 60%;
  height: 60%;
  margin: 2rem 1.5rem;
}

.bannertext {
  display: flex;
  align-items: center;
  width: 80%;
}

.text1 {
  font-size: 3.5rem;
}
